<h2>Kendo UI DataViz demos</h2>
<div>
    <ul>
        <li>
            <h3>Admin</h3>
            <ul>
                <li>
                    @Html.ActionLink("High Performance Demo", "HighPerformanceDemo", "KendoVizDemo", new { Area = "Kendo.DataViz.Demos" }, null)
                </li>
                <li>
                    @Html.ActionLink("Remote data Pie Chart Demo", "RemotePieChartDemo", "KendoVizDemo", new { Area = "Kendo.DataViz.Demos" }, null)
                </li>
                <li>
                    @Html.ActionLink("Local data Pie Chart Demo", "LocalPieChardDemo", "KendoVizDemo", new { Area = "Kendo.DataViz.Demos" }, null)
                </li>

            </ul>
            <h3>Local Theme</h3>
            <ul>
                <li>
                    @Html.ActionLink("High Performance Demo", "HighPerformanceDemoThemed", "KendoVizDemo", new { Area = "Kendo.DataViz.Demos" }, null)
                </li>
                <li>
                    @Html.ActionLink("Remote data Pie Chart Demo", "RemotePieChartDemoThemed", "KendoVizDemo", new { Area = "Kendo.DataViz.Demos" }, null)
                </li>
                <li>
                    @Html.ActionLink("Local data Pie Chart Demo", "LocalPieChardDemoThemed", "KendoVizDemo", new { Area = "Kendo.DataViz.Demos" }, null)
                </li>
            </ul>
        </li>
        
    </ul>
</div>

